# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.*
!.env.example

# My Entries
.vscode/
build/
dist/
0_diagrams/
*-db.sql
notes.txt
.svelte-kit/
package/
dist/
